<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 right">
         <i class=" tim-icons icon-square-pin"> </i>
              CAMEROON, South West Region
              <p>BUEA, Bokwaongo</p>
              <p>677024039</p>
              <i class=" tim-icons icon-zoom-split"> </i>  <input placeholder="search">
            </div>
            <div class="col-sm-6">
              <p>About Sentiment Analyser</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut eum quisquam nulla! Ipsa quae, repellat esse quo laboriosam sequi dolorum ut rerum 
                consectetur nobis vel a maiores? Harum, doloribus explicabo.</p>
            </div>
            
      </div>
  </div>
</section>
<div class="footer">
  <div id="button"></div>
<div id="container">
<div id="cont">
<div class="footer_center">
	  <div class="row">
        <div class="col-sm-6 right">
           <img src="../../../assets/img/emilyz.jpg">
                <i class=" tim-icons icon-zoom-split"> </i>  <input placeholder="search">
              </div>
              <div class="col-sm-6">
                  <i class=" fa-facebook-square"> </i>
                  <i class=" fa-facebook-square"> </i>
                  <i class=" fa-facebook-square"> </i>
                  <i class=" fa-facebook-square">tawahpeggy98@gmail.com </i>



              </div>
              
        </div>
</div>
</div>
</div>
</div>
