<!-- 
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card card-plain">
        <div class=" card-header">Google Maps</div>
        <div class=" card-body"><div class=" map" id="map"></div></div>
      </div>
    </div>
  </div>
</div> -->
<div class="content">
    <div class=" card center">
      <div class=" card-header"><h5 class=" title">leave a feedback please</h5></div>
      <div class=" card-body">
        <form>
    <div class=" col-md-4 pl-md-1">
      <div class=" form-group">
        <label for="exampleInputEmail1"> Email address </label>
        <input
          class=" form-control"
          placeholder="tawahpeggy98@email.com"
          type="email"
        />
      </div>
    </div>
  
    <div class=" col-md-4 pl-md-1">
      <div class=" form-group">
        <label for="exampleInputEmail1"> Full Name </label>
        <input
          class=" form-control"
          placeholder="tawah peggy"
          type="text"
        />
      </div>
    </div>
  
    <div class=" col-md-4 pl-md-1">
      <div class=" form-group">
        <label for="exampleInputEmail1"> Message </label>
        <textarea name="message" rows="10" cols="10"
          class=" form-control"
          placeholder="good job guys!"
          type="text"
        ></textarea>
      </div>
    </div>
    </form>
  </div>
  
    <div class=" card-footer">
      <button class=" btn btn-danger btn-fill" type="submit">Save</button>
    </div>
  </div>
  </div>
  
