
<div class="content">
    <div class="content">
        <div class="col-sm-12">
            <h5>Ordered List</h5>
            <ol>
              <li>Brief description and introduction of telecommunication.</li>
              <li>Telecommunication in cameroon</li>
              <li>Telecommunication companies in cameroon</li>
              <ul>
                <li>List Item</li>
                <li>List Item</li>
                <li class="list-unstyled"></li>
              </ul>
    
            </ol>
          </div>
    
    
    <div class=" col-md-4 pl-md-1">
      <button routerLink="/feedback" class=" btn btn-fill btn-danger" type="submit">leave a feedback</button>
    
    </div>
    </div>
</div>